<div *ngIf="auth.user$ | async as user;
     then authenticated
     else guest ">
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <div *ngIf="!role">
    <app-guest-nav></app-guest-nav>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div *ngIf="!isLoaded">Loading...</div>
    <div *ngIf="isLoaded">
      <h3>Howdy, GUEST</h3>
      <p>Login to get started...</p>
      <button (click)="auth.googleSignin()">
        <i class="fa fa-google"></i> Login with Google
      </button>
    </div>
  </div>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user$ | async as user">
    <div *ngIf="!isLoaded">Loading...</div>
    <div *ngIf="isLoaded">
      <div *ngIf="teacher">
        <app-teacher-nav></app-teacher-nav>
      </div>
      <div *ngIf="student">
        <app-student-nav></app-student-nav>
      </div>
      <div *ngIf="admin">
        <app-admin-nav></app-admin-nav>
      </div>
      <div *ngIf="!unauth">
        <h2>Howdy, {{ user.displayName }}.</h2>
        <p>UID: {{ user.uid }}.</p>
        <p>Role: "{{role}}".</p>
        <img [src]="user.photoURL" style="margin-bottom: 32px; border: 2px solid #2f2f2f; border-radius: 5px;">
        <br/><button (click)="auth.signOut()">Logout</button>
      </div>
      <div *ngIf="unauth">
        <h1 class="text-danger">
          This account has not been authorised! Please contact an administrator for further assistance
          <button (click)="auth.signOut()">Logout</button>
        </h1>
      </div>
    </div>
  </div>
</ng-template>
