<app-student-nav></app-student-nav>

<h1 *ngIf="currentStudent">Grade report for {{currentStudent.name}}</h1>

<p *ngIf="!grades"><em>Loading.....</em></p>

<div *ngIf="grades">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>No.</th>
        <th>Course Id</th>
        <th>Grades</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let grade of grades; let i = index">
        <td> {{ i + 1 }}</td>
        <td> {{ grade.courseId }} </td>
        <td> {{ grade.grade1 }}</td>
      </tr>
    </tbody>
  </table>
</div>
